{% extends "login/base.html" %}


{% block content %}
{% load static %}



<!-- banner -->
<div class="banner"  style= "background: url({% static 'images/banner1.jpg' %}) 0px 0px no-repeat;">
	<h2>About</h2>
	<p><a href="/">Home »</a> About </p>
</div>
<!--//banner -->


<!-- welcome about details -->
<div class="welcome">
	<div class="container">
		<h3 class="heading">About</h3>
		
			{% for ab in about_details %}
		<div class="col-md-6 welcome_left" style=" background: url({{ab.about_image.url }}) no-repeat 0px 0px;">
			<div class="layer1">
				<div class="welcome_left_info">
				<h3>{{ab.about_title_name}}</h3>
					<p>{{ab.about_desc}}</p>
					<div class="read">
						<a href="/about">Read more »</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor%}
		{% for ab in about_details %}
		<div class="col-md-6 welcome_right">
			<div class="inner_grid1">
				<div class="col-md-2 icon color1">
					<span class="fa fa-file-o" aria-hidden="true"></span>
				</div>
				
				<div class="col-md-10 grid_info">
					<h3>{{ab.about_service_type}}</h3>
					<p>{{ab.about_service_desc}}</p>
				</div>
				
				<div class="clearfix"></div>
			</div>
			
			
		</div>
		
		{% endfor %}
		<div class="clearfix"></div>
	</div>
</div>
<!-- //welcome about bottom -->
    
    <!-- Who we are -->
    <div class="who">
        <div class="layer">
            <h3 class="heading">About Us</h3>
            {% if about %}
            <div class="container">
                <div class="who_grids">
                    <div class="col-md-6 who_grid_left">
                        <h3>{{ about.title }}</h3>
                        <h4>{{about.heading}}</h4>
                        <p>{{about.description|safe|truncatewords:"25"|linebreaks}}</p>
                        <div class="read">
                            <a href="#" data-toggle="modal" data-target="#myModal">Read more »</a>
                        </div>
                    </div>
                    <div class="col-md-6 who_grid_right">
                        <div class="bar-grids">
                            <h6>Management<span> {{about.per_mangemt}} % </span></h6>
                            <div class="progress">
                                <div class="progress-bar bar1 progress-bar-striped active" style="width: {{about.per_mangemt}}%">
                                </div>
                            </div>
                            <div class="mid-bar">
                                <h6>Marketing<span> {{about.per_marketing}}% </span></h6>
                                <div class="progress">
                                    <div class="progress-bar bar2 progress-bar-striped active" style="width: {{about.per_marketing}}%">
                                    </div>
                                </div>
                            </div>
                            <div class="mid-bar">
                                <h6>Strategy<span>{{about.per_stratergy}}% </span></h6>
                                <div class="progress">
                                    <div class="progress-bar bar3 progress-bar-striped active" style="width: {{about.per_stratergy}}%">
                                    </div>
                                </div>
                            </div>
                            <h6>Deployment<span>{{about.per_deployment}}% </span></h6>
                            <div class="progress">
                                <div class="progress-bar bar4 progress-bar-striped active" style="width: {{about.per_deployment}}%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- //Who we are -->
    
    <!-- pricing plans -->
    <div class="pricing">
        <h3 class="heading">Pricing Plans</h3>
        <div class="container">
            <div class="w3l-pricing-grids">

                {% if plans %}
                {% for val in plans %}
                <div class="agileits-pricing-grid first">
                    <div class="pricing_grid">
                        <div class="pricing-top" style="background: {{val.color_code}}" >
                            <h3>{{val.plan_name}}</h3>
                        </div>
                            <div class="wthree-pricing-info" style="background: {{val.color_code}}">
                                <p>{{val.currency}}<span>{{val.price}}</span>/{{val.period}}</p>
                            </div>
                        <div class="pricing-bottom">
                            <div class="pricing-bottom-bottom" style="background: {{val.color_code}}">
                                <p>{{val.email_suppport}}</p>
                                <p>{{val.storage_suppport}}</p>
                                <p>{{val.website_suppport}}</p>  
                                <p>{{val.bandwidth_suppport}}</p>
                                <p class="text">{{val.customer_suppport}}</p>
                            </div>
                            <div class="buy-button">
                                <a class="popup-with-zoom-anim" href="#small-dialog" style="background: {{val.color_code}}">Sign Up »</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //pricing plans -->
    
    <!-- /newsletter-->
    <div class="newsletter_w3layouts_agile">
        <div class="col-sm-6 newsleft">
            <h3>Sign up for Newsletter !</h3>
        </div>
        <div class="col-sm-6 newsright">
            <input type="email" id="submit_news_letter_email" placeholder="Enter your email..." name="email" required="">
            <button type="button" id="submit_button_news_leeter">Submit</button>
            <span id="submit_button_error"></span>
        
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //newsletter-->
    
    <!-- footer -->
    <div class="footer_top_agileits">
        <div class="container-fluid">
            <div class="col-md-3 footer_grid">
			<h3>About Us</h3>
			{% for ab in about_details %}
			<p>{{ab.about_desc}}</p>
			{% endfor%}
			<div class="read">
				
				<a href="/about" >Read more »</a>
			</div>
		</div>
            <div class="col-md-3 footer_grid">
                <h3>Latest News</h3>
                <ul class="footer_grid_list">
                    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
                    </li>
                    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
                    </li>
                    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
                    </li>
                    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
                    </li>
                    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer_grid">
                <h3>Contact Info</h3>
                 {% if contact %}
               {% for co in contact %}
                <ul class="address">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{co.address}}</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>{{co.country_code}} {{co.phone_number}}</li>
                    <li><i class="fa fa-globe" aria-hidden="true"></i><a href="{{co.contact_email}}">{{co.contact_email}}</a></li>
                </ul>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-3 footer-grid_agileits_w3 footer_grid">
                <h3>Recent Works</h3>
            <div class="footer-list">
    
                {% if recent %}
                    {% for val in recent %}
    
                    <div class="flickr-grid">
                            <a href="{{val.image.url}}"><img src="{{val.image.url}}" alt="{{val.alt_text}}" ></a>
                        </div>
    
                    {% endfor %}
                {% endif %}
                
                <div class="clearfix"></div>
            </div>
        </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer_w3ls">
        <div class="container">
            <div class="footer_bottom1">
                <p>© 2018 Corporation. All rights reserved | Design by <a href="https://villagersgroup.com">Villagersgroup</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    
    
    <!-- signin Model -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-body-sub_agile">
                    <div class="main-mailposi">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    </div>
                    <div class="modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign">LogIn To Your Account</h3>
                        <form action="#" method="post">
                            <div class="styled-input agile-styled-input-top">
                                <input type="text" placeholder="User Name" name="Name" required="">
                            </div>
                            <div class="styled-input">
                                <input type="password" placeholder="Password" name="password" required="">
                            </div>
                            <input type="submit" value="Sign In">
                        </form>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- //signin Model -->
    
    <!--pop-up-grid-->
    <div id="popup">
        <div id="small-dialog" class="mfp-hide">
            <div class="signin-form profile">
                <h3>Sign Up</h3>
                <div class="login-form">
                    <form action="#" method="post">
                        <input type="email" name="email" placeholder="E-mail" required="">
                        <input type="text" name="name" placeholder="Username" required="">
                        <input type="password" name="password" placeholder="Password" required="">
                        <input type="password" name="password" placeholder="Confirm Password" required="">
                        <input type="submit" value="Sign Up">
                    </form>
                </div>
            </div>
        </div>
    </div>						
    <!--pop-up-grid-->
    
    <!-- bootstrap-modal-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Villagers Group
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
                </div>
                <div class="modal-body">
                    <img src="{{ about.banner.url }}" alt=" " class="img-responsive" />
                    <p>{{ about.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //bootstrap-modal-pop-up --> 
    {% endblock %}

    {% block customscript %}
    {% load static %}

     <!--//end google language -->
     
     <!-- js -->
     <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
    <!-- Popup -->
     <script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
         <script>
             $(document).ready(function() {
                 if($(".popup-with-zoom-anim").length > 0) {

                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });

                 }
                 
                                                                                             
         });
         </script>
     <!-- //Popup -->
 
     <!-- start-smooth-scrolling -->
     <script src="{% static 'js/move-top.js' %}"></script>
     <script src="{% static 'js/easing.js' %}"></script>
     <script>
         jQuery(document).ready(function ($) {
             $(".scroll").click(function (event) {
                 event.preventDefault();
 
                 $('html,body').animate({
                     scrollTop: $(this.hash).offset().top
                 }, 1000);
             });
         });
     </script>
     <!-- //end-smooth-scrolling -->
     
     <!-- smooth-scrolling-of-move-up -->
     <script>
         $(document).ready(function () {
             /*
             var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear' 
             };
             */
 
             $().UItoTop({
                 easingType: 'easeOutQuart'
             });
 
         });

       
     </script>
     <!-- //smooth-scrolling-of-move-up -->
     
     <!-- smooth scrolling js -->
    
     <!-- //smooth scrolling js -->


 
    {% endblock%}