<!DOCTYPE html>
<html>
    {% load static %}
<head>
	<title>VCM Limited | VillagersGroup</title>
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon"/>
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon"/>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="www.villagersgroup.com, vcm, Marketing ,Shopping Portal"/>
	<script type="application/x-javascript">
		addEventListener("load", function () {setTimeout(hideURLbar, 0);}, false);function hideURLbar() {window.scrollTo(0, 1);}
	</script>
	<!--//tags -->
	<!-- FlexSlider css -->
		<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
	<!-- //FlexSlider css -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- for bootstrap carousel slider -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}" type="text/css" media="all">
	<!-- //for bootstrap carousel slider -->
	<!-- fontawesome icons  -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<body>
<!-- header -->
<div class="header">
		<div class="agileits_top_menu">
		   {% if contact %}
		   {% for co in contact %}
			<div class="container">
				<div class="w3l_header_left">
					<ul>
						<li id="google_translate_element"></li>
						<li><i class="fa fa-phone" aria-hidden="true"></i>{{co.country_code}}{{co.phone_number}} </li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{co.contact_email}}">{{co.contact_email}}</a></li>
	
					</ul>
				</div>
				<div class="w3l_header_right">
					<div class="w3ls-social-icons text-left">
						<a class="facebook" href="{{co.facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="{{co.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a>
						<a class="linkedin" href="{{co.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a>
						<a class="login" href="#" data-toggle="modal" data-target="#myModal1">Join</a>

						
						<a  class="login"  href="/shoppingportal/" target="_blank">Visit VCM SHOP</a>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<a class="navbar-brand" href="/">
						<img src="{{logo.logo_img.url}}" alt="{{logo.logo_alt}}"  style="width:100;height:3em;"/>
					</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav">
								<li><a {% if request.resolver_match.url_name == 'index' %} class="active" {% endif %} href="/">Home</a></li>
								<li><a {% if request.resolver_match.url_name == 'about' %} class="active" {% endif %} href="/about">About</a></li>
								<li><a {% if request.resolver_match.url_name == 'services' %} class="active" {% endif %} href="/services">Our company</a></li>
								<li><a {% if request.resolver_match.url_name == 'gallery' %} class="active" {% endif %} href="/gallery">Gallery</a></li>
								<!-- <li><a href="/blog">Blog</a></li> -->
								<li><a {% if request.resolver_match.url_name == 'contact' %} class="active" {% endif %} href="/contact">Contact</a></li>
								<li><form class="example" action="" style="margin:auto;max-width:300px">
									<input type="text" placeholder="Search.." name="#">
									<button type="submit"><i class="fa fa-search"></i></button>
									</form>
								</li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
    {% block content%}
    {% endblock %}
<!-- //bootstrap-modal-pop-up --> 

	{% block customscript %}
	{% endblock %}
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Create Your Account here.</h3>
						<form action="user-login" method="post">
							{% csrf_token %}
							<div class="form-group">
									<label for="sel1">Choose Your Role</label>
									<select id="sel1" class="form-control" name="username" required="true">
									  <option value="company">Company</option>
									  <option value="vendor">Vendor</option>
									</select>
							</div>
							
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Mobile Number" name="phone" required="">
							</div>
							
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Email" name="email" required="">
							</div>
							
							<div class="styled-input">
								<input type="password" placeholder="Password" name="password" autocomplete="new-password" required="">
							</div>


							<input type="submit" value="Sign In">
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
	</div>
	
	<!-- js -->
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
	
	<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>

	<!-- //stats -->
    <!--google language-->
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<!-- //google fonts -->
	<script type="text/javascript">
	function googleTranslateElementInit() {
  	new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
	}
	</script>
	<!--//end google language -->

	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function () {
			$("#owl-home-page").owlCarousel({
				autoPlay: 500, //Set AutoPlay to 3 seconds
				autoPlay: true,
				items: 1,
			});

			$("#professional_team").owlCarousel({
				autoPlay: 500, //Set AutoPlay to 3 seconds
				autoPlay: true,
				items: 2,
			});
		});
	</script>
	<script src="{% static 'js/responsiveslides.min.js' %}"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
		
	</script>
		<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			minItems: 2,
			maxItems: 4,
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
	<!-- //Flex slider-script -->
	
	<!-- start-smooth-scrolling -->
	<script src="{% static 'js/move-top.js' %}"></script>
	<script src="{% static 'js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});


		var SUBMIT_NEWSLETTER_SUBSCRIPTION = {

			ajax_submit_new_letter_subscription : function(ele,email,type) {
			   
			   $.ajax({
				   url: '/send-email',
				   data: {
					 'type': type,
					 'email' : email
				   },
				   dataType: 'json',
				   beforeSend : function() {
								   $("#submit_button_error").removeClass('error');
								   $("#submit_button_error").html("");
								   ele.attr('disabled','disabled');
								   ele.html('<i class="fa fa-spinner"></i>');
								  
				   },
				   success: function (data) {
					   
							   if(parseInt(data.code) == 200 ) {
								   alert(data.message)
							   } else {
								   $("#submit_button_error").addClass('error');
								   $("#submit_button_error").html(data.message)
							   }
						   },
						   

					complete : function() {
						ele.html('submit');
						ele.attr('disabled',false);
						$("#submit_news_letter_email").val('');

					}	
				 });
		   


			}
		}

		$('body').on('click','#submit_button_news_leeter',function(){
			var type = "subscription";
			var email = $("#submit_news_letter_email").val();
			var ele  = $(this);
			SUBMIT_NEWSLETTER_SUBSCRIPTION.ajax_submit_new_letter_subscription(ele,email,type);
		});
  


	</script>
	<!-- //smooth-scrolling-of-move-up -->
	
	<!-- smooth scrolling js -->
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script> $('.counter').countUp(); </script>
	
	<!-- //smooth scrolling js -->

</body>
</html>