<!DOCTYPE html>
<html>
    {% load static %}

<head>
	<title>VCM Limited | VillagersGroup</title>

	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content=""/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	
	<!-- FlexSlider css -->
		<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
	<!-- //FlexSlider css -->

	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	
	<!-- for bootstrap carousel slider -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}" type="text/css" media="all">
	<!-- //for bootstrap carousel slider -->
	
	<!-- fontawesome icons  -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>

<body>

	<!-- header -->
<div class="header">
		<div class="agileits_top_menu">
			<div class="container">
				<div class="w3l_header_left">
					<ul>
						<li id="google_translate_element"></li>
						<li><i class="fa fa-phone" aria-hidden="true"></i> +112 223 3345</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="vcmltd@gmail.com">vcmltd@gmail.com</a></li>
	
					</ul>
				</div>
				<div class="w3l_header_right">
					<div class="w3ls-social-icons text-left">
						<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
						<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
						<a class="login" href="#" data-toggle="modal" data-target="#myModal1">Login</a>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="/">
							<h1>VillagersGroup</h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav">
								<li><a {% if request.resolver_match.url_name == 'index' %} class="active" {% endif %} href="/">Home</a></li>
								<li><a {% if request.resolver_match.url_name == 'about' %} class="active" {% endif %} href="/about">About</a></li>
								<li><a {% if request.resolver_match.url_name == 'services' %} class="active" {% endif %} href="/services">Services</a></li>
								<li><a {% if request.resolver_match.url_name == 'gallery' %} class="active" {% endif %} href="/gallery">Gallery</a></li>
								<!-- <li><a href="/blog">Blog</a></li> -->
								<li><a {% if request.resolver_match.url_name == 'contact' %} class="active" {% endif %} href="/contact">Contact</a></li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
    
    {% block content%}

    {% endblock %}
<!-- //bootstrap-modal-pop-up --> 

	{% block customscript %}
	{% endblock %}
	
	<!-- js -->
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
	
	<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>

	<!-- //stats -->
    <!--google language-->
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<!-- //google fonts -->
	<script type="text/javascript">
	function googleTranslateElementInit() {
  	new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
	}
	</script>
	<!--//end google language -->

	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function () {
			$("#owl-home-page").owlCarousel({
				autoPlay: 500, //Set AutoPlay to 3 seconds
				autoPlay: true,
				items: 1,
				navigation: true,
			});
			
		}); 
	</script>
	<!-- //owl carousel -->
	
	<!-- Responsive slider  -->
	<script src="{% static 'js/responsiveslides.min.js' %}"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- //Responsive slider  -->

	<!-- Flex slider-script -->
	<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
	<!-- //Flex slider-script -->
	
	<!-- start-smooth-scrolling -->
	<script src="{% static 'js/move-top.js' %}"></script>
	<script src="{% static 'js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	
	<!-- smooth scrolling js -->
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script> $('.counter').countUp(); </script>
	<!-- //smooth scrolling js -->

</body>
</html>