{% extends 'login/base.html' %}
{% block content %}
{% load static %}


<!-- banner -->
<div class="banner"  style= "background: url({% static 'images/banner1.jpg' %}) 0px 0px no-repeat;">
	<h2>Contact</h2>
	<p><a href="/">Home »</a> Contact </p>
</div>
<!--//banner -->


	
<!-- contact -->
<section class="contact" id="contact">
	<div class="container">
		<div class="contact-heading">
			<h3 class="heading">Contact us</h3>
		</div>
		<div class="contact-grids">
			<div class=" col-md-5 contact-form">
			<h4 class="heading">Get In Touch</h4>
				<form action="{% url 'home:contact' %}" method="post">
						{% csrf_token %}
						<input type="text" name="name" placeholder="Full Name" required=""/>
						{{ form.name.errors }}

						<input type="email" name="email" placeholder="Your Mail" required=""/>
						{{ form.email.errors }}
						<input type="text" name="number" placeholder="Mobile Number" required=""/>
						{{ form.number.errors }}
						<textarea name="message" placeholder="Message" required=""></textarea>

						<div class="submit1">
							<input type="submit" value="sent">
						</div>
				</form>
			</div>
			  {% if contact %}
               {% for co in contact %}
			<div class=" col-md-7 map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d167998.10803373056!2d2.2074740643680624!3d48.85877410312378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C+France!5e0!3m2!1sen!2sin!4v1488168816174"></iframe>
				<div class="col-md-4 contact-grid1">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<div class="contact-right">
						<p>Address</p>
						<span>{{co.address}}</span></span>
					</div>
				</div>
				<div class="col-md-4 contact-grid1">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<div class="contact-right">
						<p>Phone</p>
						<span>{{co.country_code}} {{co.phone_number}}</span>
						
					</div>
				</div>
				<div class="col-md-4 contact-grid1">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<div class="contact-right">
						<p>Email</p>
						<a href="{{co.contact_email}}">{{co.contact_email}}</a>
						
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			{% endfor%}
			{% endif %}
		</div>
	</div>
</section>
<!-- //contact -->


<!-- /newsletter-->
<div class="newsletter_w3layouts_agile">
	<div class="col-sm-6 newsleft">
		<h3>Sign up for Newsletter !</h3>
	</div>
	<div class="col-sm-6 newsright">
		<input type="email" id="submit_news_letter_email" placeholder="Enter your email..." name="email" required="">
		<button type="button" id="submit_button_news_leeter">Submit</button>
		<span id="submit_button_error"></span>
	
	</div>
	<div class="clearfix"></div>
</div>
<!-- //newsletter-->

<!-- footer -->
<div class="footer_top_agileits">
	<div class="container-fluid">
		<div class="col-md-3 footer_grid">
			<h3>About Us</h3>
			{% for ab in about_details %}
			<p>{{ab.about_desc}}</p>
			{% endfor%}
			<div class="read">
				
				<a href="/about" >Read more »</a>
			</div>
		</div>
		<div class="col-md-3 footer_grid">
			<h3>Latest News</h3>
			<ul class="footer_grid_list">
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
				</li>
			</ul>
		</div>
		<div class="col-md-3 footer_grid">
			<h3>Contact Info</h3>
			 {% if contact %}
		   {% for co in contact %}
			<ul class="address">
				<li><i class="fa fa-map-marker" aria-hidden="true"></i>{{co.address}}</li>
				<li><i class="fa fa-phone" aria-hidden="true"></i>{{co.country_code}} {{co.phone_number}}</li>
				<li><i class="fa fa-globe" aria-hidden="true"></i><a href="{{co.contact_email}}">{{co.contact_email}}</a></li>
			</ul>
			{% endfor %}
			{% endif %}
		</div>
		<div class="col-md-3 footer-grid_agileits_w3 footer_grid">
            <h3>Recent Works</h3>
			<div class="footer-list">

				{% if recent %}
					{% for val in recent %}

					<div class="flickr-grid">
							<a href="{{val.image.url}}"><img src="{{val.image.url}}" alt="{{val.alt_text}}" ></a>
						</div>

					{% endfor %}
				{% endif %}
				
				<div class="clearfix"></div>
			</div>
    	</div>
		<div class="clearfix"> </div>
	</div>
</div>

<div class="footer_w3ls">
	<div class="container">
		<div class="footer_bottom1">
			<p>© 2018 Corporation. All rights reserved | Design by <a href="#">VCM</a></p>
		</div>
	</div>
</div>
<!-- //footer -->



	<!-- signin Model -->

	<!-- //Modal1 -->
	<!-- //signin Model -->

{% endblock %}



{% block customscript %}
{% load static %}

<!--//end google language -->
<!-- stats -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.countup.js' %}"></script>
<script>
$('.counter').countUp();
</script>

{% endblock %}