{% extends "login/base.html" %}

{% block content %}
{% load static %}
   

<!-- //header -->

<!-- banner -->
<div id="owl-home-page" class="owl-home-page" >
	{% if banner %}
		{% for val in banner %}
			
			<div class="item active" style="background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url({{ val.banner_img.url}}) no-repeat;">
			<div class="container">
				<div class="carousel-caption">
					<div class="col-md-6 banner_left">
						<h4>{{val.banner_title}}</h4>
						<h3>{{val.banner_desc|slice:":80"}}</h3>
					</div>
					<div class="col-md-6 banner_right">
						<p>{{val.banner_right_desc}}</p>
						<div class="agileits-button top_ban_agile">
							<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		{% endfor %}
	{% endif %}
			
</div>
<!-- //banner -->



<!-- welcome about details -->
<div class="welcome">
	<div class="container">
		<h3 class="heading">About</h3>
		
			{% for ab in about_details %}
		<div class="col-md-6 welcome_left" style=" background: url({{ ab.about_image.url }}) no-repeat 0px 0px;">
			<div class="layer1">
				<div class="welcome_left_info">
				<h3>{{ab.about_title_name}}</h3>
					<p>{{ab.about_desc}}</p>
					<div class="read">
						<a href="/about">Read more »</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor%}
		{% for ab in about_details %}
		<div class="col-md-6 welcome_right">
			<div class="inner_grid1">
				<div class="col-md-2 icon color1">
					<span class="fa fa-file-o" aria-hidden="true"></span>
				</div>
				
				<div class="col-md-10 grid_info">
					<h3>{{ab.about_service_type}}</h3>
					<p>{{ab.about_service_desc}}</p>
				</div>
				
				<div class="clearfix"></div>
			</div>
			
			
		</div>
		
		{% endfor %}
		<div class="clearfix"></div>
	</div>
</div>
<!-- //welcome about bottom -->


<!-- //banner bottom -->

<!-- Team -->
<div class="team" id="team">
	<h3 class="heading">Professional Team</h3>
	<div class="container">
		<div class="flexslider-info">
			<section class="slider">
				<div class="flexsliderno">
					<ul class="slides" id="professional_team">
						
							{% if professional %}
								{% for val in professional %}
							<li>
								<div class="w3l-info1">
										<div class="col-md-12">
											<div class="col-md-12 team-grid-1">
												<img src="{{ val.avatar.url }}" alt="" style="width:15em;;height:15em;";/>
											</div>
										
											<div class="col-md-12">
												<h4>{{ val.name }}</h4>
												<h5>{{ val.designation }}</h5>
												<p>{{ val.description }}</p>
												<div class="w3ls-social-icons text-left">
													<a class="facebook" href="{{ val.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="twitter" href="{{ val.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="pinterest" href="{{ val.insta_url }}" target="_blank"><i class="fa fa-instagram"></i></a>
													<a class="linkedin" href="{{ val.linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a>
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</li>
									{% endfor %}

							{% endif %}
					
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>
<!-- //Team -->

<!-- Services -->
<div class="services" id="services">
	<h3 class="heading">Services</h3>
	<div class="container-fluid">
		<div class="services_grids">

			{% if services %}
				{% for val in services %}

				<div class="col-md-3 ser_grid1">
						<img src="{{val.service_image.url}}" alt="service1" style="width:100%;height:14em;"/>
						<div class="ser_info">
							<i class="fa icon {{val.service_icon}}"></i>
							<h4> {{ val.service_name }}</h4>
							<i class="fa fa-plus"></i>
							<div class="clearfix"></div>
						</div>
						<p>{{val.service_desc|safe|truncatewords:"10"|linebreaks}}</p>
					</div>

				{% endfor %}
			{% endif %}
		
			<div class="clearfix"> </div>
			<div class="ser_all">
				<a href="/services">Show all services</a>
			</div>
		</div>
	</div>
</div>
<!-- //Services -->

<!-- testimonials free consulting -->
<div class="test_consultant">
	<div class="container">
		<!-- Testimonials Slider-->
		<div class="slider col-md-6">
			<h3 class="heading">Happy Clients</h3>
				<div class="callbacks_container">
					<ul class="rslides callbacks callbacks1" id="slider4">
						{% if happyclient %}
							{% for val in happyclient %}

							<li>
									<div class="testimonial">
										<div class="col-md-3 test_img">
											<img src="{{ val.avatar.url }}" alt="client1" />
										</div>
										<div class="col-md-9 test_info">
											<h4>{{val.client_name}}</h4>
											<h5>{{ val.designation}}</h5>
											<ul class="rating">
											{% with ''|center:val.rating as range %}
												{% for i in range %}
													<li><span class="fa fa-star" aria-hidden="true"></span></li>
												{% endfor %}
											{% endwith %}
											
											</ul>
										</div>
										<div class="clearfix"></div>
										<p>{{val.description}}</p>
									</div>
								</li>

							{% endfor %}
						{% endif %}
						
					</ul>
		<div class="clearfix"> </div>
				</div>
		</div>
		<!-- //Testimonials Slider-->
		
		<!-- Free consulting -->
		<div class="consulting col-md-6">
			<h3 class="heading">Free consulting</h3>
			<div class="wthree-contact-form">
				<form action="{% url 'home:index' %}" method="post">
					{% csrf_token %}
					
					<input type="text" name="name" placeholder="Name" required="">
					{{ form.name.errors }}

					<input type="email" class="email" name="email" placeholder="Email" required="">
					{{ form.email.errors }}

					<div class="clearfix"></div>
					<input type="text" class="number" name="number" placeholder="Phone Number" required="">
					{{ form.number.errors }}

					<textarea name="message" placeholder="Message"></textarea>
					<input type="submit" value="SUBMIT">
				</form>
			</div>
		</div>
		<!-- //Free consulting -->
		<div class="clearfix"> </div>
	</div>
</div>
<!-- testimonials free consulting -->

<!-- counter -->
<div class="services-bottom stats">
	<div class="banner-dott1">
		<div class="container">
			<h3 class="heading">Our Statistics</h3>
			
		  <div class="wthree-agile-counter">
		  {% if statistics %}
			 {% for count in statistics%}
		  <div class="col-md-3 w3_agile_stats_grid-top">
		 
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
				<span><i class="fa icon {{count.statistics_icon}}"></i><span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">{{count.statistics_count}}</p> 
				</div>
				<div class="clearfix"> </div>
				<h4>{{count.statistics_type}}</h4>
			</div>
		
		</div>
			{% endfor %}
			{% endif %}
			<div class="clearfix"> </div>
			
		</div>
	</div>
	</div>
</div>
<!-- //counter -->

<!-- /newsletter-->
<div class="newsletter_w3layouts_agile">
	<div class="col-sm-6 newsleft">
		<h3>Sign up for Newsletter !</h3>
	</div>
	<div class="col-sm-6 newsright">
		<form action="#" method="post">
			<input type="email" placeholder="Enter your email..." name="email" required="">
			<input type="submit" value="Submit">
		</form>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //newsletter-->

<!-- footer -->
<div class="footer_top_agileits">
	<div class="container-fluid">
		<div class="col-md-3 footer_grid">
			<h3>About Us</h3>
			{% for ab in about_details %}
			<p>{{ab.about_desc}}</p>
			{% endfor%}
			<div class="read">
				
				<a href="/about" >Read more »</a>
			</div>
		</div>
		<div class="col-md-3 footer_grid">
			<h3>Latest News</h3>
			<ul class="footer_grid_list">
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
				</li>
				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>
					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
				</li>
			</ul>
		</div>
		<div class="col-md-3 footer_grid">
			<h3>Contact Info</h3>
			 {% if contact %}
		   {% for co in contact %}
			<ul class="address">
				<li><i class="fa fa-map-marker" aria-hidden="true"></i>{{co.address}}</li>
				<li><i class="fa fa-phone" aria-hidden="true"></i>{{co.country_code}} {{co.phone_number}}</li>
				<li><i class="fa fa-globe" aria-hidden="true"></i><a href="{{co.contact_email}}">{{co.contact_email}}</a></li>
			</ul>
			{% endfor %}
			{% endif %}
		</div>
		<div class="col-md-3 footer-grid_agileits_w3 footer_grid">
            <h3>Recent Works</h3>
			<div class="footer-list">

				{% if recent %}
					{% for val in recent %}

					<div class="flickr-grid">
							<a href="{{val.image.url}}"><img src="{{val.image.url}}" alt="{{val.alt_text}}" ></a>
						</div>

					{% endfor %}
				{% endif %}
				
				<div class="clearfix"></div>
			</div>
    	</div>
		<div class="clearfix"> </div>
	</div>
</div>

<div class="footer_w3ls">
	<div class="container">
		<div class="footer_bottom1">
			<p>© 2018 Corporation. All rights reserved | Design by <a href="#">VCM</a></p>
		</div>
	</div>
</div>
<!-- //footer -->

<!-- signin Model -->
<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body modal-body-sub_agile">
				<div class="main-mailposi">
					<span class="fa fa-envelope-o" aria-hidden="true"></span>
				</div>
				<div class="modal_body_left modal_body_left1">
					<h3 class="agileinfo_sign">Login To Your Account</h3>
					<form action="#" method="post">
						<div class="styled-input agile-styled-input-top">
							<input type="text" placeholder="User Name" name="Name" required="">
						</div>
						<div class="styled-input">
							<input type="password" placeholder="Password" name="password" required="">
						</div>
						<input type="submit" value="Login">
					</form>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //Modal content-->
	</div>
</div>
<!-- //Modal1 -->
<!-- //signin Model -->
	
<!-- bootstrap-modal-pop-up -->
{% for val in banner%}
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				{{val.banner_title}}
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
			</div>
			<div class="modal-body">
				<img src="{% static 'images/banner1.jpg' %}" alt=" " class="img-responsive" />
				<p>{{val.read_more_desc}}</p>
			</div>
		</div>
	</div>
</div>
{% endfor%}
{% endblock content %}
