{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

    <span>

        <p style="color:green;margin: 365px;
        border: solid 1px black;
        padding: 68px;
        font-size: 28px;
        background: beige;"> 
            Your have successfully registered with us. We have sent you the login details 
            of our store panel to your registered email address. Please use your registed email
            to access our panel. Thank you.

        </p>

    </span>

{% endblock %}